body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #40e0d0; /* Бирюзовый фон */
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.animation {
  position: absolute;
  width: 15vw; /* Относительная ширина для адаптивности */
  max-width: 150px; /* Ограничение максимального размера */
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
}

#squirrel-animation {
  top: 10%;
  left: 10%;
}

#bird-animation {
  top: 40%;
  right: 10%;
}

#rabbit-animation {
  bottom: 15%;
  left: 10%;
}

.message {
  position: absolute;
  bottom: 10%; /* Скорректировано положение текста */
  left: 50%;
  transform: translateX(-50%);
  font-size: 5vw; /* Адаптивный размер текста */
  max-font-size: 30px; /* Ограничение максимального размера текста */
  color: #008080; /* Гармоничный цвет */
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: opacity 1s, visibility 1s;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  #squirrel-animation {
    top: 5%;
    left: 5%;
  }

  #bird-animation {
    top: 35%;
    right: 5%;
  }

  #rabbit-animation {
    bottom: 20%; /* Поднято для избежания перекрытий */
    left: 5%;
  }

  .message {
    bottom: 15%; /* Поднято для лучшей видимости на мобильных устройствах */
    font-size: 6vw; /* Увеличенный размер текста для мелких экранов */
  }
}
